
  /*Main styles will be here , if u want to change .. you can change from here or override it in the wanted page*/
  html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body {
    background: linear-gradient(142deg, rgba(32, 6, 91, 1) 0%, rgba(98, 39, 90, 1) 100%);
    height: 100%;
    margin: 0;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: cairo;
  }

  footer .col-md-7 {
    border-left: 1.2px solid white;
    opacity: 60%;
  }

  .nav-bar-button {
    color: white !important;
    position: absolute;
    top: -2.6rem !important;
    left: 0;
    border: none;
  }

  .nav-bar-button .fa-bars {
    font-size: 2rem;
    color: white !important;
    margin: 10px;
  }

  .header {
    padding: 2%;
    text-align: center;
    color: white;
  }

  #tabs {
    margin-top: -5%;
    padding: 0.5%;
  }

  #tabs .nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 23px;
    font-weight: 100;
    position: relative;
    border-radius: 20px;
    text-align: center;
    margin: 3px;

  }

  #tabs a:hover {
    opacity: 70%;
    background-color: #ffffff;
    color: #3E2960;
    
  }

  #bcground {
    background-image: url(https://i.postimg.cc/Hxtrg3x6/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    padding-bottom: 10%;
    margin: 0;
  }

  footer {
    position: absolute;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .footer {
    padding: 10px;
    color: #ffffff;
  }

  .navbar-toggler-fa {
    position: relative;
    bottom: 4%;
  }

  .col-md-7 .location,
  .col-md-7 .socialIcons a {
    margin-top: 1.6rem;
  }

  #div1 {
    padding-top: 3%;
    overflow: hidden;
  }

  .slider-parent {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .SliderImgs {
    width: 100%;
    height: 100%;
  }

  #ImageBox image {
    float: left;
    
  }

  .padding-0 {
    padding-right: 0;
    padding-left: 0;
  }

  #BlueSquare {
    height: 100%;
    width: 100%;
    background-color: #05156d;
    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

  }

  #achievements {
    margin: auto;
    background: rgb(216, 58, 136);
    background: linear-gradient(157deg, rgba(216, 58, 136, 1) 0%, rgba(213, 60, 137, 1) 10%, rgba(100, 112, 172, 1) 92%);
    width: 30%;
    height: 10%;
    border-radius: 13px;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 6%;
  }

  #Achivements {
    margin-top: 10%;
    display: flex;
    text-align: center;
    margin-bottom: 7%;
  }

  .Achivements-boxes {
    background-color: #181947;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    border-radius: 25px;
    float: right;
    align-content: center;
    overflow: hidden;
  }

  .Achivements-boxes:hover {
    opacity: 75%;
  }

  .AchivementName {
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 27px;
    margin-bottom: 0;
  }

  .statistics {
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 40px;
  }

  #aboutBox {
    margin: auto;
    margin-top: 8%;
    background-color: #51345e;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 6%;
  }

  #aboutBox p {
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-align: right;
    padding: 20px;
  }

  #aboutTitle {
    background: rgb(216, 58, 136);
    background: linear-gradient(157deg, rgba(216, 58, 136, 1) 0%, rgba(213, 60, 137, 1) 10%, rgba(100, 112, 172, 1) 92%);
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    width: auto;
    height: 13%;
    margin-left: 65%;
    margin-top: 1%;
    position: relative;
    text-align: center;
    margin-bottom: 2%;
  }

  .vision-mission .title {
    background: rgb(216, 58, 136);
    background: linear-gradient(157deg, rgba(216, 58, 136, 1) 0%, rgba(213, 60, 137, 1) 10%, rgba(100, 112, 172, 1) 92%);
    width: 30%;
    height: 20%;
    border-radius: 10px;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
  }

  .vision-mission {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .vision-mission .col-md-4 {
    margin-bottom: 4%;
  }

  .vision-mission .col-md-6 {
    margin-bottom: 4%;
  }

  .vision-mission .vm-box {
    height: 100%;
    width: 100%;
    font-family: 'Cairo', sans-serif;
    font-size: 1.3rem;
    background-color: #F6F6F6;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFF;
    overflow: auto;
    text-align: right;
    padding: 3%;
  }

  .socialIcons,
  .socialIcons a {
    padding: 1%;
  }

  .socialIcons a:hover {
    opacity: 70%;
  }

  #footer {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    color: #B4A3B9;
  }

  #footer h6 {
    font-size: 20px;
  }

  #xxsmall {
    display: none;
  }

  @media (max-width: 476px) {
    .header_logo {
      width: 80%;
    }

    #club-name {
      display: none !important;
    }

    #extra-small {
      display: none;
    }

    #xxsmall {
      display: block;
    }

    #xxsmall img {
      float: right;
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 236px) {
    #xxsmall img {
      width: 60px;
      height: 40px;
    }
  }

  @media (max-width: 474px) {

    /*holds untill 474px*/
    .header_logo {
      width: 80%;
    }
  }


  @media (max-width: 474px) {

    /*holds untill 474px*/
    .header_logo {
      width: 80%;
    }
  }

  @media (max-width: 278px) {

    /*holds untill 278px*/
    .header_logo {
      width: 90%;
    }

    #achievements {
      font-size: 1rem !important;
      height: 7% !important;
    }

    #aboutBox p {
      font-size: 1rem !important;
      margin-top: 2% !important;
    }

    #aboutTitle {
      font-size: 1rem !important;
      height: 7% !important;
      width: 70% !important;
      margin-left: 15% !important;
    }

    .vision-mission p,
    .vision-mission .title {
      font-size: 1rem !important;
    }
  }

  @media (min-width: 767.0px) and (max-width: 767.9px) {

    .navbar-collapse .fa {
      font-size: 0rem;
    }

    #tabs .nav-link {
      width: 7rem;
    }

    .navbar-collapse .nav-link {
      text-align: center;
      position: relative;
      top: -1rem;
    }

    #BlueSquare {
      height: 15rem !important;
    }
    footer .col-md-7 {
      border-left: none;
    }
  }

  @media (max-width: 767px) {

    /*md*/
    html {
      font-size: 80% !important;
    }

    footer .col-md-7 {
      border-left: none;
    }

    #footer {
      font-size: 92%;
    }

    #footer img {
      width: 25px;
      height: 25px;
    }

    #footer h6 {
      font-size: 96%;
      margin-top: 5px;
    }

    .underline {
      border-bottom: 1px solid grey;
      width: 100%;
      padding: 2px;
    }

    .navbar-collapse .fa {
      font-size: 2rem;
      color: grey !important;
    }

    .close-btn {
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      margin-bottom: 2rem;
      color: grey !important;
    }

    .navbar-collapse .nav-links-collapse {
      margin-top: 2.5rem;
    }

    .nav-link {
      color: black !important;
      padding: 8% !important;
      margin-top: 2.1rem;
      font-size: 16px !important;
      font-weight: 100;
      text-align: center;
      padding: 2px;
    }

    #tabs .nav-link {
      width: 6rem;
      border-radius: 10px;
    }

    .navbar-collapse {
      position: fixed;
      top: 0;
      right: 0;
      padding-top: 10% !important;
      padding-right: 10%;
      line-height: 1.1rem;
      padding-left: 20% !important;
      height: 100%;
      background: white !important;
      z-index: 5;
    }

    .navbar-collapse.collapsing {
      height: 100%;
      right: -75%;
      transition: height 0s ease;
    }

    .navbar-collapse.show {
      right: 0;
      transition: right 400ms ease-in-out;
    }

    .navbar-toggler.collapsed~.navbar-collapse {
      transition: right 400ms ease-in;
    }

    #BlueSquare {
      height: 15rem !important;
    }

    #achievements {
      font-size: 20px;
      height: 3.3rem;
    }

    #aboutTitle {
      font-size: 20px;
      width: 50%;
      margin-top: 2px;
      margin-bottom: 1%;
    }

    #aboutBox p {
      font-size: 20px;
      margin-bottom: 3rem;

    }

    .vision-mission .title {
      font-size: 20px;
      width: auto;
      height: auto;
      font-size: 1.3rem;
      text-align: center;
    }

  }

  @media (max-width: 305px) {

    /*holds untill 474px*/
    .header_logo {
      width: 80%;
    }

    .vision-mission .title {
      width: 50%;
      height: 22%;
      font-size: 1.3rem;
      text-align: center
    }
  }

 
  
